.w-background-video {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.w-background-video > video {
    background-size: cover;
    background-position: 50% 50%;
    /* position: absolute;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%; */
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.container-bg-video {
    /* position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1; */
    display: block;
    width: 100%;
    height: 100vh;
}

video {
    display: inline-block;
    vertical-align: baseline;
}

